.depoimento_title {
    margin-left: 20;
    font-weight: 300;
}

.depoimento_texto {
    text-align: justify;
}

.depoimento_carousel{
    padding-top: 20;
}

.material_image{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}