---
---
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Curso</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="images/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<!-- Google Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	{% include modal.html %}
	<!-- header section start -->
	<div class="header_section">
		{% include header.html %}
	</div>
	<!-- header section end -->
	<!-- services section start -->
	<div class="services_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="services_taital">Curso</h1>
					<p class="services_text">O projeto tem como objetivo prover cursos e treinamentos nas suas áreas específicas. Todos elaborados com a proposta de fornecer um aprendizado amplo e qualificado em Fotografia Computacional, Performance, IA e áreas afins. O primeiro curso a ser elaborado e disponibilizado pelo projeto, <b>Curso de Fotografia Computacional com ênfase em Inteligência Artificial e Dispositivos móveis</b>, possui 6 disciplinas:</p>
				</div>
				<div class="col-md-4 my-auto">
					<div><img src="images/cursos.png"></div>
				</div>
			</div>
			<div class="services_section_2">
				<div class="row">
					<div class="col-md-4">
						<div><img src="images/curso-fotografiacomputacional.png" class="services_img"></div>
						<h2 class="text-center">Fotografia Computacional</h2 class="text-center">
						<p>Resumo da ementa: Compreender conceitos e etapas fundamentais no processamento digital de imagens, diversos tipos de imagens e como os pixels são armazenados digitalmente. Explorar para aprimorar a qualidade da imagem. Estudar métodos para restaurar imagens degradadas por ruído, desfoque ou outros fatores.</p>
						<p><b>Material Disponível, clique no botão abaixo!</b></p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalFotocomp">Mais Detalhes</button>
					</div>
					<div class="col-md-4">
						<div><img src="images/curso-deeplearning.png" class="services_img"></div>
						<h2 class="text-center">Aprendizagem de Máquina e Profunda</h2 class="text-center">
						<p>Resumo da ementa: Conhecer os modelos Redes Neurais, Perceptron e CNN. Definição de arquitetura, função de perdas e otimizadores. Geração, augmentation e rotulação de bases. Avaliação e Visualização. Aprendizagem profunda para processamento de imagens e visão computacional.</p>
						<p><b>Material Disponível, clique no botão abaixo!</b></p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDeep">Mais Detalhes</button>
					</div>
					<div class="col-md-4">
						<div><img src="images/curso-halide.png" class="services_img"></div>
						<h2 class="text-center">Linguagem de programação Halide</h2 class="text-center">
						<p>Resumo da ementa: Apresentar fundamentos da otimização de algoritmos de processamento de imagens e fotografia computacional. Prover uma base teórica e prática de programação na linguagem de domínio específico (DSL) Halide. Apresentar métodos de implementação de pipelines e de interoperabilidade do Halide com C++.</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalHalide">Mais Detalhes</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div><img src="images/curso-analiseperformancesistemasheterogeneos.png" class="services_img"></div>
						<h2 class="text-center">Análise e Performance de Sistemas Heterogêneos</h2 class="text-center">
						<p>Resumo da ementa: Conhecer os tipos de sistemas de computação e as principais arquiteturas para computação heterogênea. Avaliar técnicas e ferramentas de programação para o desenvolvimento de aplicações em sistemas heterogêneos (CPU-GPU). Implementar  e avaliar a performance dos algoritmos em diferentes configurações.</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAPSH">Mais Detalhes</button>
					</div>
					<div class="col-md-4">
						<div><img src="images/curso-analiseperformanceia.png" class="services_img"></div>
						<h2 class="text-center">Análise e Performance de Sistemas com IA</h2 class="text-center">
						<p>Resumo da ementa: Entender conceitos da implementação e funcionamento de algoritmos de machine learning em diferentes arquiteturas de computação. Entender como configurar, realizar e monitorar experimentos para avaliação de modelos. Avaliar exemplos de aplicações de IA para imagens.</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAPHIA">Mais Detalhes</button>
					</div>
					<div class="col-md-4">
						<div><img src="images/curso-analisequalidadeimagem.png" class="services_img"></div>
						<h2 class="text-center">Análise de Qualidade de Imagem</h2 class="text-center">
						<p>Resumo da ementa: Fornecer uma compreensão abrangente dos conceitos e princípios fundamentais do IQA. Explorar as diferentes técnicas de IQA e suas aplicações em vários campos. Apresentar as técnicas de IQA baseadas em aprendizado profundo. Colocar em prática, a nível de código, técnicas de IQA em processamento de imagem e modelos de aprendizagem profunda.</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalIQA">Mais Detalhes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- services section end -->
	<!-- footer section start -->
	{% include footer.html %}
	<!-- footer section end -->
	<!-- copyright section start -->
	<div class="copyright_section">
		<div class="container">
			<p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html
					Templates</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
		</div>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			if (window.location.href.indexOf("#ModalFotocomp") > -1) {
				var mobileModal = new bootstrap.Modal(document.getElementById('ModalFotocomp'));
				mobileModal.show();
			}
		});
	</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- javascript -->
	<script src="js/owl.carousel.js"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>