<div class="about_section layout_padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="about_taital_main">
					<h1 class="about_taital">Sobre nós</h1>
						<p class="about_text">Somos um projeto do PPI (PROGRAMAS E PROJETOS PRIORITÁRIOS DA LEI DE TICs), que utiliza recursos disponibilizados pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações, obtidos através da Lei da Informática (<a href="http://www.planalto.gov.br/ccivil_03/leis/L8248compilado.htm">Lei nº 8.248/91</a>), através do <a href="https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/lei-de-tics/2022-programa-nacional-de-software-para-exportacao-2013-softex">Programa SOFTEX</a>.</p>
						<p class="about_text">Nossas principais áreas de estudo e desenvolvimento são: Fotografia Computacional, Inteligência Artifical, Análise de Qualidade de Imagem e Análise de Performance de Sistemas Heterogêneos</p>
					</div>
				</div>
			<div class="col-md-6 padding_right_0">
				<div><img src="images/about-img.png" class="about_img"></div>
			</div>
		</div>
	</div>
</div>