<div class="services_section layout_padding">
	<div class="container">
		<div class="row">
			<h1 class="services_taital">Sobre nós</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p class="about_text">O LuxAI é integrante do PPI (PROGRAMAS E PROJETOS PRIORITÁRIOS DA LEI DE TICs)
					no Centro de Informática da UFPE que utiliza recursos disponibilizados pelo Ministério da
					Ciência, Tecnologia, Inovações e Comunicações, obtidos através da Lei da Informática (<a
						href="http://www.planalto.gov.br/ccivil_03/leis/L8248compilado.htm" target="_blank"
						rel="noopener noreferrer">Lei nº 8.248/91</a>), através do <a
						href="https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/lei-de-tics/2022-programa-nacional-de-software-para-exportacao-2013-softex"
						target="_blank" rel="noopener noreferrer">Programa SOFTEX</a>.</p>
				<p class="about_text">As principais áreas de estudo e desenvolvimento do LuxAI são: Fotografia
					Computacional, Inteligência Artifical, Análise de Qualidade de Imagem e Análise de Performance
					de Sistemas Heterogêneos.</p>
				<p class="about_text">Trabalhamos no desenvolvimento de aplicações móveis com funcionalidades
					baseadas em IA, além de treinamento, fine tuning, pruning e outras técnicas de performance em IA.
				</p>
				<p class="about_text">Oferecemos serviços personalizados à ampla indústria, desde treinamentos em
					Fotografia Computacional e Inteligência Artificial, Análise de desempenho de modelos em
					dispositivos móveis, treinamento e fine tuning de modelos. Além disso, dispomos de consultoria
					no desenvolvimento de aplicações de IA, abarcando desde os modelos mais adequados e criação de
					datasets até técnicas de melhoria do desempenho de execução de modelos em hardwares restritivos.
				</p>
			</div>
			<div class="col-md-4 my-auto">
				<div><img src="images/about-img.png" class="material_image"></div>
			</div>
		</div>
	</div>
</div>