<!--div id="carouselExampleSlidesOnly" class="slide" data-ride="carousel" style="margin-bottom: 30;">
    <div class="carousel-inner" style="background-color: #e5e9ff;">
        <div class="carousel-item depoimento_carousel active">
            <div class="container">
                <h2 class="depoimento_title">Transformador!</h2>
                <p class="depoimento_texto">"Eu sempre adorei tirar fotos com meu celular, mas nunca imaginei que
                    fosse possível alcançar uma qualidade tão profissional. Este curso me ensinou não só a dominar
                    as câmeras dos dispositivos móveis, mas também a explorar técnicas de edição e
                    pós-processamento. A combinação de teoria e prática fez toda a diferença. Agora, consigo
                    capturar e editar imagens incríveis diretamente no meu smartphone!"</p>
                <p class=text-right>— Carolina M., fotógrafa amadora</p>
            </div>
        </div>
        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Essencial para quem ama tecnologia e fotografia</h2>
                <p class="depoimento_texto">"O curso de fotografia computacional com ênfase em dispositivos móveis foi
                    uma experiência incrível. Aprendi sobre as capacidades avançadas de câmeras móveis e como utilizar
                    algoritmos de processamento de imagem para melhorar minhas fotos. As aulas sobre HDR, processamento
                    de imagem com IA e filtros inteligentes me ajudaram a dar um salto gigantesco na qualidade das
                    minhas imagens!"</p>
                <p class=text-right>— Gabriel L., desenvolvedor e entusiasta de fotografia</p>
            </div>
        </div>
    </div>
</div-->