<div id="carouselExampleSlidesOnly" class="slide" data-ride="carousel" style="margin-bottom: 30;">
    <div class="carousel-inner" style="background-color: #e5e9ff;">
        <div class="carousel-item depoimento_carousel active">
            <div class="container">
                <h2 class="depoimento_title">Enriquecedor</h2>
                <p class="depoimento_texto">"Toda a experiência foi extremamente enriquecedora. Pude revisar alguns
                    temas que acreditava já dominar, mas revê-los com professores muito capacitados e sempre atenciosos
                    fez toda a diferença. A dinâmica de feedback constante, com aulas gravadas e avaliações semanais,
                    foi a melhor forma de manter um aprendizado consistente e, ao mesmo tempo, leve, pois acredito que a
                    maioria das pessoas estava conciliando o curso com outras atividades.
                    Atualmente, trabalho na área e percebo o quanto este curso é completo para iniciar uma pessoa nesse
                    ramo. Deixo meu agradecimento à equipe e aos excelentes professores que tivemos ao longo do curso."
                </p>
                <p class=text-right>— Heitor Pereira, Student Reseacher - Computer Vision</p>
            </div>
        </div>
        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Fundamentos e Aprofundamento</h2>
                <p class="depoimento_texto">"Participar do curso de Fotografia Computacional foi uma experiência
                    positiva no geral, o conteúdo técnico e teórico foram de boa qualidade. Sobre os tópicos sobre
                    processamento de imagens: quem não tem conhecimento prévio, o curso oferece uma base sólida, para
                    aqueles que já possuem alguma experiência, os conhecimentos são reforçados e aprofundados. Destaque
                    para o módulo sobre Halide, que é uma linguagem poderosa e específica, mas pouco conhecida no
                    Brasil. Esse é um tema difícil de encontrar em português, e o curso foi uma oportunidade única de
                    aprendizado neste item."</p>
                <p class=text-right>— José Elwyslan, Desenvolvedor de Software</p>
            </div>
        </div>
        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Aprendizado Valioso</h2>
                <p class="depoimento_texto">"Concluí o curso Fotografia Computacional com Ênfase em IA e Dispositivos
                    Móveis, oferecido pelo grupo LuxAI e coordenado pela Softex. Foi muito enriquecedor, tanto pelo
                    conteúdo técnico quanto pelas trocas realizadas ao longo do curso. Tive a oportunidade de relembrar
                    e aprimorar habilidades em processamento digital de imagens, aprendizado profundo e otimização de
                    algoritmos. O curso abordou temas como restauração de imagens, implementação de redes neurais para
                    visão computacional e otimização com Halide e CUDA, além de técnicas avançadas para avaliação de
                    qualidade de imagem (IQA), garantindo resultados de alta qualidade em aplicações práticas. Um dos
                    pontos altos foi estar próximo de pessoas experientes na área, o que proporcionou uma ótima troca de
                    conhecimento. As discussões e colaborações via Discord também foram um diferencial, permitindo um
                    ambiente dinâmico e interativo, mesmo à distância. Finalizar o curso com essas ferramentas e
                    aprendizados foi uma experiência valiosa!"</p>
                <p class=text-right>— Arianne M. - Engenheira de Software</p>
            </div>
        </div>
    </div>
</div>