<div class="footer_section layout_padding">
	<div class="container">
		<div>
			<div class="d-flex justify-content-center">
				<li class="p-2">
					<h5 class="align-top">Instituição Executora</h5>
					<a href="https://www.cin.ufpe.br/" class="align-bottom"><img src="images/logo_cin.png"></a>
				</li>
				<li class="p-2">
					<a href="https://fade.org.br/" class="align-bottom"><img src="images/logo_fade.png"></a>
				</li class="p-3">
					<img src="images/logo_mcti_futuro.png" class="align-bottom">
				</li>
				<li class="p-2">
					<h5 class="align-top">Coordenadora</h5>
					<a href="https://softex.br/" class="align-bottom"><img src="images/logo_softex.png"></a>
				</li>
				<li class="p-3">
					<h5 class="align-top">Apoio</h5>
					<a href="https://www.gov.br/mcti/pt-br" class="align-bottom"><img src="images/logo_mcti.png"></a>
				</li>
			</div>
		 </div>
	</div>
</div>