<div class="footer_section layout_padding">
	<div class="container">
		<div class="d-md-none mx-auto" style="max-width: 384px;">
			<img src="images/logos_vertical.png">
		</div>
		<div class="d-none d-md-block mx-auto" style="max-width: 768px;">
			<img src="images/logos_horizontal.png">
		</div>
	</div>
	<div class="container">
		<div class="location_main">
			<div class="call_text"><a href="mailto:luxai@softex.cin.ufpe.br"><i
						class="material-icons align-middle">mail</i>luxai@softex.cin.ufpe.br</a></div>
		</div>
		<!--div class="social_icon">
				<ul>
					<li><a href="#"><img src="images/fb-icon.png"></a></li>
					<li><a href="#"><img src="images/youtube-icon.png"></a></li>
					<li><a href="#"><img src="images/twitter-icon.png"></a></li>
					<li><a href="#"><img src="images/linkedin-icon.png"></a></li>
					<li><a href="#"><img src="images/instagram-icon.png"></a></li>
				</ul>
		</div-->
	</div>
</div>