<div class="footer_section layout_padding">
	<div class="container">
		<div class="d-md-none" style="max-width: 384px;">
			<center><img src="images/logos_vertical.png"></center>
		</div>
		<div class="d-none d-md-block">
			<center><img src="images/logos_horizontal.png" style="max-width: 768px;"></center>
		</div>
		<!--div>
			<ul class="row align-items-end">
				<li class="col-md-2">
					<h5>Instituição Executora</h5>
					<a href="https://www.cin.ufpe.br/" class="middle"><img src="images/logo_cin.png"></a>
				</li>
				<li class="col-md-2">
					<a href="https://fade.org.br/" class="middle"><img src="images/logo_fade.png"></a>
				</li>
				<li class="col-md-2">
					<img src="images/logo_mcti_futuro.png" class="middle">
				</li>
				<li class="col-md-2">
					<h5>Coordenadora</h5>
					<a href="https://softex.br/" class="middle"><img src="images/logo_softex.png"></a>
				</li>
				<li class="col-md-2">
					<h5>Apoio</h5>
					<a href="https://www.gov.br/mcti/pt-br" class="middle"><img src="images/logo_mcti.png"></a>
				</li>
				</div>
		 </div-->
	</div>
</div>