<div class="modal fade" id="ModalFotocomp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Fotografia Computacional</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h2>Objetivos:</h2>
					<p>Compreender conceitos básicos e etapas fundamentais no processamento digital de imagens:
					Estabelecer o entendimento dos princípios básicos sobre luz, espectro, o olho humano e o processo de formação de Imagens;
					Compreender também como as imagens são capturadas, representadas e manipuladas digitalmente é essencial para avançar nas técnicas mais sofisticadas.</p>
					<p>Aprender sobre diversos tipos de imagens e como os pixels são armazenados digitalmente:
					Entender as diferentes formas de representar imagens, desde imagens em preto e branco até imagens coloridas. Aprender sobre a estrutura de pixels e como as informações de cor são armazenadas em forma digital.</p>
					<p>Estudar operações básicas de processamento de imagem:
					Compreender algoritmos de análise de imagem assim como transformações de imagens usadas no processamento de imagens digitais</p>
					<p>Explorar técnicas como equalização de histograma, expansão de contraste e filtragem espacial para aprimorar a qualidade da imagem
					Nesta etapa, serão abordadas as técnicas que melhoram a aparência e a qualidade das imagens. A equalização de histograma ajusta o contraste, enquanto a filtragem espacial remove o ruído e melhora detalhes.</p>
					<p>Entender a importância da transformada de Fourier na análise e manipulação no domínio da frequência:
					Serão introduzidos conhecimentos sobre a transformada de Fourier com aplicação na análise de frequência das imagens. Isso é essencial para entender como diferentes frequências contribuem para a aparência da imagem.</p>
					<p>Estudar métodos para restaurar imagens degradadas por ruído, desfoque ou outros fatores:
					Aprender técnicas para remover imperfeições das imagens, como ruído ou desfoque, de modo a recuperar informações perdidas e melhorar a nitidez.</p>
					<p>Adquirir conhecimento sobre modelos de cor, percepção e técnicas para aprimoramento e correção de imagens coloridas:
					Será explorado como as cores são modeladas digitalmente e como a percepção humana de cores é considerada. Também com ênfase em aprender a aprimorar e corrigir imagens coloridas.</p>
					<p>Estudar o que representa a compressão de imagem, incluindo o significado de fazê-la sem perdas e com perdas:
					É importante entender como as imagens podem ser comprimidas para economizar espaço e largura de banda.</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>