<div class="modal fade" id="ModalFotocomp" tabindex="-1" role="dialog" aria-labelledby="ModalFotocompLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="ModalFotocompLabel">Fotografia Computacional</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h2>Sobre o curso</h2>
				<p>Este curso oferece uma imersão nos conceitos fundamentais do processamento digital de imagens,
					abordando desde a formação de imagens através da luz e do olho humano até a captura, representação e
					manipulação digital. Você aprenderá a trabalhar com diferentes tipos de imagens, entendendo como os
					pixels armazenam informações e como aplicar operações básicas de processamento, como equalização de
					histograma e filtragem espacial, para aprimorar a qualidade visual das imagens.</p>
				<p>Além disso, o curso explora técnicas avançadas como a transformada de Fourier para análise de
					frequência, métodos para restaurar imagens degradadas e modelos de cor para aprimoramento e correção
					de imagens coloridas. Também aprenderá sobre compressão de imagens, compreendendo como economizar
					espaço e largura de banda sem comprometer a qualidade. Esta é uma oportunidade única para dominar as
					ferramentas e técnicas que transformarão sua abordagem ao trabalho com imagens digitais.</p>
				<br>
				<h2>Material do Curso</h2>
				<h3><a href="https://www.youtube.com/playlist?list=PL7Od71iXIaNkFUkBC6ilsONSbGtfHVeH_" target="_blank"
						rel="noopener noreferrer" class="align-middle"><i
							class="material-icons align-middle">video_library</i> Aulas em vídeo</a></h3><br>
				<h3><a href="https://drive.google.com/drive/folders/1r5L_ES0RT0ts8OXDDSyVp2HBZnvawI1D" target="_blank"
						rel="noopener noreferrer" class="align-middle"><i
							class="material-icons align-middle">menu_book</i> Material Prático</a></h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalDeep" tabindex="-1" role="dialog" aria-labelledby="ModalDeepLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ModalDeepLabel">Aprendizagem de Máquina e Profunda</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Sobre o Curso</h3>
				<p>Este curso oferece uma oportunidade única para mergulhar no mundo das redes neurais e da aprendizagem
					profunda, cobrindo desde conceitos fundamentais até aplicações avançadas em visão computacional.
					Você aprenderá sobre diversos modelos de redes neurais, como Perceptron, Redes Neurais
					Convolucionais (CNN), e arquiteturas de ponta como ResNet e DenseNet. Além disso, o curso aborda
					técnicas essenciais como definição de arquiteturas, funções de perdas e otimizadores, além de
					métodos para geração, aumento e rotulação de bases de dados. Através de avaliações e visualizações
					detalhadas, você obterá uma compreensão profunda do funcionamento e da implementação dessas
					tecnologias.</p>
				<p>Ao longo do curso, você será introduzido a tópicos essenciais, como regressão linear, softmax,
					seleção de modelo e técnicas para evitar underfitting e overfitting. Além disso, explorará técnicas
					avançadas de CNN para classificação, detecção, segmentação e restauração de imagens, utilizando
					ferramentas como Yolo e UNET. Este curso é ideal para quem deseja desenvolver habilidades práticas e
					teóricas em aprendizagem profunda, aplicando esse conhecimento para resolver problemas reais em
					processamento de imagens e visão computacional. Participe e transforme sua compreensão sobre redes
					neurais e suas aplicações inovadoras!</p>
				<br>
				<h2>Material do Curso</h2>
				<h3><a href="https://www.youtube.com/playlist?list=PL7Od71iXIaNm5lURBew0RRnc4a7Ay4ljU" target="_blank"
						rel="noopener noreferrer" class="align-middle"><i
							class="material-icons align-middle">video_library</i> Aulas em vídeo</a></h3><br>
				<h3><a href="https://drive.google.com/drive/folders/19H5LIC1qlYkdJhON-giMruwj48BVu-k7" target="_blank"
						rel="noopener noreferrer" class="align-middle"><i
							class="material-icons align-middle">menu_book</i> Material Prático</a></h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalHalide" tabindex="-1" role="dialog" aria-labelledby="ModalHalideLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ModalHalideLabel">Linguagem de programação Halide</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Sobre o Curso</h3>
				<p>Se você é apaixonado por processamento de imagens e fotografia computacional, o curso de "Linguagem
					de Programação Halide" é uma oportunidade imperdível para você. Este curso oferece uma combinação
					única de teoria e prática, permitindo que você domine a otimização de algoritmos de processamento de
					imagens através da linguagem Halide, uma DSL (linguagem de domínio específico) poderosa. Aprenderá a
					implementar pipelines eficientes, trabalhar com a interoperabilidade entre Halide e C++, e aplicar
					técnicas avançadas de otimização para melhorar a performance de seus projetos.</p>
				<p>Além disso, o curso cobre uma ampla gama de tópicos que vão desde a introdução a conceitos básicos e
					estruturas de Halide, até técnicas avançadas de scheduling e metaprogramação. Você terá a chance de
					trabalhar com buffers, variáveis, expressões e domínios de redução, além de explorar métodos de
					depuração e benchmarking. Aplicações práticas incluem filtragem, realce de imagens, operações em
					espaços de cor e criação de efeitos visuais. Este curso é ideal para quem deseja transformar sua
					paixão em habilidades técnicas de ponta no campo da computação gráfica.</p>
				<br>
				<h3>Material do Curso</h3>
				<h3><a href="https://www.youtube.com/playlist?list=PL7Od71iXIaNkmm_P-SvnzbKd0n4sYXmGQ"
						class="align-middle"><i class="material-icons align-middle">video_library</i> Aulas em vídeo</a>
				</h3><br>
				<h3><a href="https://drive.google.com/drive/folders/1Ei6tEYGPF6Qit4MQ40k2SsxHJfJPOAwA"
						class="align-middle"><i class="material-icons align-middle">menu_book</i> Material Prático</a>
				</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalAPSH" tabindex="-1" role="dialog" aria-labelledby="ModalAPSHLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ModalAPSHLabel">Análise e Performance de Sistemas Heterogêneos</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Sobre o Curso</h3>
				<p>Você já pensou em mergulhar no universo fascinante da computação heterogênea? O curso de Análise e
					Performance de Sistemas Heterogêneos oferece uma oportunidade única para você explorar as principais
					arquiteturas de computação e entender as características dos diferentes sistemas e hardwares. Você
					aprenderá técnicas avançadas e ferramentas de programação para desenvolver aplicações que aproveitam
					ao máximo as capacidades de CPU e GPU, além de implementar e avaliar a performance de algoritmos em
					diversas configurações. Esta é a sua chance de dominar a aceleração de operações com GPUs e entender
					a fundo os sistemas de memória, a computação paralela e os modelos de programação.</p>
				<p>Ao participar deste curso, você terá acesso a tópicos abrangentes, desde a classificação das
					arquiteturas de processamento até a programação em CUDA e OpenCL. Através de exemplos práticos, como
					operações básicas em imagens e algoritmos de paralelismo, você desenvolverá habilidades essenciais
					para otimizar a performance e o consumo de energia dos sistemas. Além disso, você irá implementar
					tarefas desafiadoras e comparar a performance em diferentes modelos, preparando-se para enfrentar
					problemas reais e complexos no campo da computação. Venha se tornar um especialista em sistemas
					heterogêneos e impulsione sua carreira com conhecimentos de ponta!</p>
				<br>
				<h3>Material do Curso</h3>
				<h3><a href="https://www.youtube.com/playlist?list=PL7Od71iXIaNmvz2Wp2_cEP71JnmzypQ4V"
						class="align-middle"><i class="material-icons align-middle">video_library</i> Aulas em vídeo</a>
				</h3><br>
				<h3><a href="https://drive.google.com/drive/folders/1rwQzZ7hWBHo5zJwfdCe7LeI0eHbc4oy0"
						class="align-middle"><i class="material-icons align-middle">menu_book</i> Material Teórico</a>
				</h3><br>
				<h3><a href="https://github.com/TIC-13/luxai_cuda_samples" class="align-middle"><i
							class="material-icons align-middle">code</i> Github com exercícios e exemplos</a></h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalAPSIA" tabindex="-1" role="dialog" aria-labelledby="ModalAPSIALabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ModalAPSIALabel">Análise e Performance de Sistemas com IA</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Sobre o Curso</h3>
				<p>Descubra o fascinante mundo do machine learning com este curso abrangente, que o capacitará a
					entender e implementar algoritmos de aprendizado de máquina em diferentes arquiteturas
					computacionais. Aprenda sobre os principais frameworks e APIs, e como avaliar a performance dos
					modelos. Desenvolva habilidades práticas para construir operações em modelos de aprendizado para
					imagem e explore estratégias avançadas de otimização. Compreenda como configurar, realizar e
					monitorar experimentos de avaliação de modelos, considerando requisitos de hardware, tamanho do
					modelo e parâmetros específicos. Envolva-se com exemplos reais de aplicações de IA e descubra como
					adaptar esses modelos para dispositivos de borda.</p>
				<p>Dividido em quatro partes, o curso aborda desde a evolução dos chips de IA e suas medidas de
					performance até técnicas avançadas de deep learning. Na primeira parte, mergulhe no hardware
					especializado para IA e aprenda sobre medidas de performance e aceleração para deep learning. Na
					segunda parte, explore convoluções, otimização de parâmetros, quantização e modelos leves. A
					terceira parte foca em estratégias de treinamento e inferência, além de frameworks e conversão de
					modelos. Por fim, na quarta parte, aprenda sobre estratégias data-driven, análise e ajuste de
					datasets, e monitoramento de performance. Este curso é uma oportunidade imperdível para quem deseja
					se aprofundar no universo do machine learning e suas aplicações práticas.</p>
				<br>
				<h3>Material do Curso</h3>
				<a>Previsão de liberação do material no dia 21/10/2024</a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalIQA" tabindex="-1" role="dialog" aria-labelledby="ModalIQALabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ModalIQALabel">Análise de Qualidade de Imagem</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Sobre o Curso</h3>
				<p>Quer explorar o fascinante mundo da Qualidade de Imagem (IQA)? Este curso abrangente oferece uma
					visão profunda dos conceitos fundamentais e das técnicas avançadas de IQA, essenciais para diversas
					aplicações, como compressão de imagens, imagens médicas, visão computacional e sensoriamento remoto.
					Você aprenderá sobre os aspectos essenciais da imagem, incluindo cor, forma, textura e movimento, e
					entenderá a importância da avaliação da qualidade da imagem em fotografia, explorando atributos
					globais e locais, bem como distorções e artefatos.</p>
				<p>Além disso, o curso aborda tanto a avaliação subjetiva quanto objetiva da qualidade de imagem,
					utilizando métodos tradicionais e avançados baseados em aprendizado profundo, como redes neurais
					convolucionais e transferência de aprendizado. Com uma abordagem prática, você ganhará habilidades
					valiosas na implementação e avaliação de modelos IQA, usando diversos conjuntos de dados e métricas,
					preparando-se para aplicar esses conhecimentos em áreas como restauração e realce de imagens,
					compressão, e até mesmo em imagens médicas. Venha descobrir como aprimorar a qualidade de imagens e
					destacar-se no campo de processamento de imagem!</p>
				<br>
				<h3>Material do Curso</h3>
				<a>Previsão de liberação do material no dia 04/11/2024</a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>